*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: url(./assets/myAssets/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
}
.container{
  width:90vw;
  height:90vh;
  background: rgba(0, 37, 0, 0.75);
  backdrop-filter: blur(19px) saturate(100%);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  display: flex;
}