.userInfo{
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.user{
    display: flex;
    align-items: center;
    gap:15px;
}
.icons{
    display: flex;
    gap: 15px;
}